<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Infra Tool</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <style>
        a:hover {
           /*background-color: #87ae25;*/
            background-color: red;
        }
       
    </style>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="~/Images/MindtreeUserIcon.png" class="img-circle" width="100" height="100" />

                <br />

                @*<div>@TempData["username"]</div>
                    <div>@TempData["Mid"]</div>*@

                @{
                    var v = Session["username"];

                }
                <div>@v</div>
                @{
                    var m = Session["id"];
                }

                <div>@m</div>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    @*@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole
                        ("user"))
                                    {Request.RequestContext.RouteData.Values["Controller"]
                                        <li>Projects link</li>
                                        <li>Profile link</li>
                                    }*@
                    @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li>Manage Projects link</li>
                        <li>Manage Accounts link</li>
                    }
                </ul>
            </div>


            <ul class="list-unstyled components">
                <li><a href="/Admin/AdminDashboard" style="color:white">Dashboard</a></li>
                <li class="active">
                    <p>Service request</p>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/Admin/ExistingSr" style="color:white">Existing SR</a>
                </li>
                <li>
                    <a href="/Admin/SRReports" style="color:white">SR Reports</a>
                </li>

            </ul>
            <ul class="list-unstyled components">
                <li class="active">
                    <p>Asset Management</p>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/Admin/ConfigureAsset" style="color:white">Configure Asset</a>
                </li>
                <li>
                    <a href="/Admin/ViewAsset" style="color:white">View Assets</a>
                </li>
                <li>
                    <a href="/Admin/AssetReport" style="color:white">Asset Report</a>
                </li>
            </ul>


        </nav>
      
        <!-- Page Content  -->
        <div id="content">
            <span id="sidebarCollapse">
                <img src="~/Images/sidebaricon.png" height="20" width="25" />
            </span>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url('../../Images/MindtreeBarLogo.PNG'); height:10px">
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right">
                    <div class="row">
                        <div class="col-lg-2 col-xs-2"style="font-size:15px;padding-top:6px">
                                <button type="button" class="btn btn-primary" onclick="window.location ='../Login/Loginform'">Logout</button>
                             
                            </div>

                    </div>
              </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
         
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });</script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)


    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            alert("Session Timeout \n Please Login Again!!!");
            window.location = "/Login/Loginform";
    }
    </script>


</body>
</html>

